<div class='card border mb-3' style='max-width: 15rem;'>
    <div class='card-header bg-transparent border'>
        <span id="course-title"></span><a id='availableLink' href='#'><span class='color' id='teacherAvailable' ></span></a>
    </div>
    <div class='card-body text'>
        <h5 class='card-title' id="summary-text"></h5>
        <div class='card-footer bg-transparent border' id="summary-date"></div>
        <button type='button' id='buttonAvailable' class='btn btn-primary'>Disponible</button>
    </div>
</div>
