<div class='card border mb-3' style="min-width:20rem;">
    <div class='card-header bg-transparent border'>
        <h4><a href="#" class="" id="course-title-link"></a></h4>
    </div>
    <div class="card-body">
        <ul class="list-group" id="task-list">
            <li class="list-group-item">
                <div class="d-flex justify-content-start">
                    <a href="#">Atelier 2</a>
                    <div class="flex-fill"></div>
                    <div>12 étudiants</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-start">
                    <a href="#">Atelier 3</a>
                    <div class="flex-fill"></div>
                    <div>6 étudiants</div>
                </div>
            </li>
        </ul>
    </div>
</div>
