<li>
	<div class='card border mb-3'
		style='max-width: 15rem; height: 200px; width: 200px;'>
		<div class='card-body text'>
			commitMessage :
			<h5 class='card-title' id="commitMessage"></h5>
			Exercise Path :
			<div class='card-footer bg-transparent border' id="exercicePath"></div>
			estimatedEffort :
			<div class='card-footer bg-transparent border' id="estimatedEffort"></div>
			modifiedFiles :
			<div class='card-footer bg-transparent border' id="modifiedFiles"></div>
			timeStamp :
			<div class='card-footer bg-transparent border' id="timestamp"></div>
		</div>

	</div>
</li>

