<div class='card border mb-3'>
    <div class='card-header bg-transparent border'>
        <a href="#" id="task-title-link"></a>
    </div>
    <div class='card-body text'>
        <div>Tâches préalables:</div>
        <div class='card-footer bg-transparent border'>
            <ol id="previous-tasks-container">
            </ol>
        </div>

        <br>

        <div>Sous-tâches:</div>
        <div class='card-footer bg-transparent border'>
            <ol id="subtasks-container">
            </ol>
        </div>

        <br>

        <div>Tâches suivantes:</div>
        <div class='card-footer bg-transparent border'>
            <ol id="next-tasks-container">
            </ol>
        </div>
    </div>
</div>

