<li>
	<div class='card border mb-3'
		style='height: 200px; width: 200px;'>
		<div class='card-body text'>
			<div id="commitId"></div>
			<p>Étudiant :</p>
			<h5 class='card-title' id="studentId"></h5>
			<br>
			<p>Date du dernier commit avant la date de remise :</p>
			<div class='card-footer bg-transparent border' id="lastCommitBeforeDeadline"></div>
			<br>
			<p>Date du dernier commit après la date de remise :</p>
			<div class='card-footer bg-transparent border' id="lastCommitAfterDeadline"></div>
			<br>
			<p>Si l'exercise est terminé :</p>
			<div class='card-footer bg-transparent border' id="exerciseCompleted"></div>
			<br>
			<p>Si l'exercise est terminé avant la date de remise :</p>
			<div class='card-footer bg-transparent border' id="exerciseCompletedBeforeDeadline"></div>
		</div>

	</div>
</li>

