# Java
*.class

# Gradle
.gradle
build
bin
*.jar
!gradle-wrapper.jar

# vim
*.swp

# emacs
*~

# Eclipse
.settings
.classpath
.project
.metadata

# Idea
.idea
*.iml

# JSweet
.jsweet
/jsweet

aquiletour_server/src/main/resources/public/js/aquiletour_core  
aquiletour_server/src/main/resources/public/js/aquiletour_jsweet  
aquiletour_server/src/main/resources/public/js/ntro_core  
aquiletour_server/src/main/resources/public/js/ntro_jsweet


# Dev databases
*.db
__data__
jsonLimitations.json

# ??
build_*
