# Java
*.class

# Gradle
.gradle
build
bin
*.jar
!gradle-wrapper.jar

# vim
*.swp

# emacs
*~

# Eclipse
.settings
.classpath
.project
.metadata

# Idea
.idea
*.iml

# JSweet
.jsweet
/jsweet

aquiletour_server/src/main/resources/public/js/aquiletour_core  
aquiletour_server/src/main/resources/public/js/aquiletour_jsweet  
aquiletour_server/src/main/resources/public/js/ntro_core  
aquiletour_server/src/main/resources/public/js/ntro_jsweet

ntro_test_server/src/main/resources/public/js/ntro_core  
ntro_test_server/src/main/resources/public/js/ntro_jsweet
ntro_test_server/src/main/resources/public/js/ntro_test_jsweet


# Dev databases
*.db
__data__

# Tests
__json__
jsonLimitations.json
javaSerialization.bin
build_*

# MAC_OS
.DS_Store

# task graphs
__task_graphs__
__backend_task_graphs__
aquiletour_server/TMP
