{
    "adminIds" : ["alice", "bob"],

    "smtpHost": "smtp.example.com",
    "smtpPort": "587",
    "smtpTls": true,
    "smtpUser": "aiguilleur@example.com",
    "smtpFrom": "aiguilleur@example.com",
    "smtpPassword": "example"
}
