{
    "adminRegistrationIds" : ["alice", "bob"],

    "passwordSalt": "saltExample",

    "smtpHost": "smtp.example.com",
    "smtpPort": "587",
    "smtpTls": true,
    "smtpUser": "aiguilleur@example.com",
    "smtpFrom": "aiguilleur@example.com",
    "smtpPassword": "example",


    "isProd" : false
}
