<div class='card border mb-3 QueueListItemView'>
    <div class='card-header bg-transparent border'>
        <a href="#" class="queue-link"></a>
    </div>
    <div class='card-body text'>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="d-flex">
                    <div>Dernière activité</div>
                    <div class="flex-fill"></div>
                    <div class="ms-3 last-activity"></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex">
                    <div>Questions reçues</div>
                    <div class="flex-fill"></div>
                    <div class="ms-3 number-of-appointments"></div>
                </div>
            </li>
        <ul>
    </div>
</div>
