<div class="mt-3 d-flex justify-content-center align-items-start">
    <div class="d-flex flex-column align-items-center">
        <h3>Alice Awama</h3>
    </div>
</div>

<div class="mt-5 container">
    <ul id="appointment-list" class="appointment-list"></ul>
</div>

<div class="mt-5 d-flex justify-content-center">
    <form action="" method="post" id="make-appointment-form">
        <input name="makeAppointment" style="display:none;"></input>
        <input type="submit" class="btn btn-primary" value="Prendre rendez-vous"></input>
    </form>
</div>
