<div class='card border mb-3'>
    <div class='card-header bg-transparent border'>
        <span id="task-name">TP1</span><span style="float:right;">4 avril</span>
    </div>
    <div class='card-body text'>
        <div>Tâches préalables:</div>
        <div class='card-footer bg-transparent border'>
            <ul>
                <li><a href="#">atelier 1</a> ✓
                <li><a href="#">bonus</a> ☆
            </ul>
        </div>
        <span style="float:right;">⊞</span>

        <br>

        <div>Sous-tâches:</div>
        <div class='card-footer bg-transparent border'>
            <ul>
                <li><a href="#">créer la vue</a> ✓
                <li><a href="#">créer le modèle</a> ☆
                <li><a href="#">créer un test</a> ☆
            </ul>
        </div>
        <span style="float:right;">⊞</span>

        <br>

        <div>Tâches suivantes:</div>
        <div class='card-footer bg-transparent border'>
            <ul>
                <li><a href="#">préparer examen 1</a>
                <li><a href="#">atelier 4</a>
            </ul>
        </div>
        <span style="float:right;">⊞</span>
    </div>

</div>

