<div class="mt-3 courses-container">

  <div class="mt-3" style="margin-left:30px;">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumbs-ol" id="breadcrumbs-container">
      </ol>
      </nav>
  </div>

  <div class="mt-3 flex-container" id="tasks-container">
  </div>

  <div class="mt-3 d-flex justify-content-center">

      <a href="/progressiongit/" id="git-progression-link">Ma progression Git pour </a>

  </div>

  <div class="mt-3 d-flex justify-content-center" id="git-repo-form">
      <br>
      <form action="" method="post" class="add-course-form">
        <input name="taskId" id="task-id-input" style="display:none;"></input>
        <label for="title">URL du dépôt Git: </label>
        <input name="registerGitRepo" id="register-git-repo-input"></input>
        <div class="modal-footer border-0">         
          <button class="btn btn-primary" id="">Soumettre</button>  
        </div>  
      </form>
  </div>

  <div class="mt-3 d-flex justify-content-center" id="git-status">
      <div>
          Réception du dépôt Git: <span id="git-repo-status"></span><br><br>
          Dernier commit reçu: <span id="git-repo-newest-commit"></span>
      </div>
  </div>

</div>
