<div class="mt-3">
    <div class="mt-3 d-flex flex-wrap justify-content-start align-items-baseline">
        <div>
            <nav class="ms-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbs-ol" id="breadcrumbs-container">
                </ol>
            </nav>
        </div>
        <div class="flex-fill"></div>

        <div class="me-3">
            <a class="btn btn-secondary dropdown-toggle" 
               id="semester-dropdown-head"
               href="#" 
               role="button" 
               data-toggle="dropdown" 
               aria-haspopup="true" 
               aria-expanded="false"></a>

            <div class="dropdown-menu dropdown-menu-right" 
                 aria-labelledby="semester-menu-link" 
                 id="semester-dropdown-tail">
            </div>
        </div>
    </div>

    <div class="mt-3 d-flex justify-content-around" id="courses-container">
    </div>
</div>
