<div class="mt-3">

    <div class="mt-3 d-flex justify-content-start align-items-baseline">
        <div>
            <nav class="ms-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbs-ol" id="breadcrumbs-container">
                </ol>
            </nav>
        </div>
        <div class="flex-fill"></div>
        <div class="me-3">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="semester-dropdown-head"></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="semester-menu-link" id="semester-dropdown-tail">
            </div>
        </div>
    </div>

    <div class="mt-3 d-flex" id="courses-container">
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <button class="btn btn-primary" 
                type="button" 
                id="add-course-button" 
                data-toggle="modal" 
                data-target="#add-task-modal"></button>
    </div>

    <div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content dashboard-mContent">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body dashboard-mBody">
                    <form action="" method="post" class="add-course-form">
                        <input name="taskId" id="task-id-input" style="display:none;"></input>
                        <label for="title">Code de cours</label>
                        <input name="newSubTask" id="new-subtask-input"></input>
                        <div class="modal-footer border-0">         
                            <button class="btn btn-primary" id="add-subtask-submit-button">Ajouter</button>  
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-button">Annuler</button>          
                        </div>  
                    </form>
                </div>       
            </div>
        </div>
    </div>
</div>
