<script defer type="text/javascript" src="/_R/js/root.js"></script>

<div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="/" class="navbar-brand">
            <img src="/_R/img/aiguilleur.png" alt="aiguilleur.ca" width="40px" height="40px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <a href="/mescours" class="nav-link" id="dashboard-link">Mes cours</a>
                </li>
                <li class="nav-item">
                    <a href="/billetteries" class="nav-link">Billetteries ouvertes</a>
                </li>
            </ul>
            <div class="mx-auto order-0"></div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="/usagers" class="nav-link">Gérer les usagers</a>
                </li>
                <li class="nav-item">
                    <a href="/connexion" class="nav-link">Connexion</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div id="page-container">
</div>
