<div class="mt-3 dashboard-container">

  <!-- XXX: same vertical space as breadcrumbs -->
  <div class="mt-3">
      <a class="btn btn-primary" style="visibility:hidden;">&nbsp;</a>
  </div>

  <div class="mt-3 d-flex flex-wrap justify-content-around align-items-start" id="semester-container">
  </div>

  <div class="modal fade" id="modalDashboard" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content dashboard-mContent">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une session personnalisée</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body dashboard-mBody">
          <form action="" method="post" class="add-semester-form">
            <label for="title">Code de la session</label>
            <input name="" id="semester-code-input"></input>
            <div class="modal-footer border-0">         
              <button class="btn btn-primary" id="add-semester-submit-button">Ajouter</button>  
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-button">Annuler</button>          
            </div>  
          </form>
        </div>       
      </div>
    </div>
  </div>

  <div class="mt-3 d-flex justify-content-center" style="display:none !important;">
    <button class="btn btn-primary btn-add-course" 
            type="button" 
            id="add-queue-button" 
            data-toggle="modal" 
            data-target="#modalDashboard">Créer une session personnalisée</button>
  </div>

</div>

