<div class='card border mb-3'>
    <div class='card-header bg-transparent border'>
        <span class="course-title" id="course-title"></span>
    </div>
    <div class='card-body text'>
        <span>Nombre d'étudiants: <span id="number-of-students"></span></span><br>
        <br>
        <a id='close-queue-link' href='?closeQueue='>Fermer la file d'attente</a>
        <a id='open-queue-link' href='/billetterie/'>Ouvrir la file d'attente</a>
        <br>
        <br>
        <span>Ajouter des étudiants (fichier .csv de ColNet)</span><br>
        <div class='card-footer bg-transparent border' id="nbAppointment">

        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="csvFile" id="csv-file-input"/><br>
              <input type="hidden" name="queueId" value="" id="csv-file-queue-id"/>
              <input type="submit" id="csv-file-submit"/>
        </form>
        </div>
        <br>
        <a id='delete-queue-link' href='?deleteQueue='>Supprimer la file d'attente</a><br>
    </div>
    
</div>

