<li>
	<div class='card border mb-3'
		style='height: 200px; width: 200px;'>
		<div class='card-body text'>
			<div id="commitId"></div>
			<p>studentId :</p>
			<h5 class='card-title' id="studentId"></h5>
			<br>
			<p>lastCommitBeforeDeadline :</p>
			<div class='card-footer bg-transparent border' id="lastCommitBeforeDeadline"></div>
			<br>
			<p>lastCommitAfterDeadline :</p>
			<div class='card-footer bg-transparent border' id="lastCommitAfterDeadline"></div>
			<br>
			<p>exerciseCompleted :</p>
			<div class='card-footer bg-transparent border' id="exerciseCompleted"></div>
			<br>
			<p>exerciseCompletedBeforeDeadline :</p>
			<div class='card-footer bg-transparent border' id="exerciseCompletedBeforeDeadline"></div>
		</div>

	</div>
</li>

