<div class="mt-3">
    <div class="mt-3 d-flex flex-wrap justify-content-end align-items-baseline">
        <div class="me-1">

            <a class="btn btn-secondary dropdown-toggle" 
               id="course-dropdown-head"
               href="#" 
               role="button" 
               data-toggle="dropdown" 
               aria-haspopup="true" 
               aria-expanded="false"></a>

            <div class="dropdown-menu dropdown-menu-right" 
                 id="course-dropdown-tail"
                 aria-labelledby="semester-menu-link">
            </div>

        </div>

        <div class="me-3">

            <a class="btn btn-secondary dropdown-toggle" 
               id="semester-dropdown-head"
               href="#" 
               role="button" 
               data-toggle="dropdown" 
               aria-haspopup="true" 
               aria-expanded="false"></a>

            <div class="dropdown-menu dropdown-menu-right" 
                 aria-labelledby="semester-menu-link" 
                 id="semester-dropdown-tail">
            </div>

        </div>
    </div>

    <div class="mt-3 d-flex flex-wrap justify-content-around" id="item-container">
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <button class="btn btn-primary add-pagename-to-id" 
                id="add-item-button"
                type="button" 
                data-toggle="modal" 
                data-target="#add-task-modal"></button>
    </div>


    <!--
        <div class="mt-3 d-flex justify-content-center">
        <div class="btn-group">
        <button type="button" class="btn btn-primary">Ajouter un cours</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Dupliquer un cours existant</a>
        </div>
        </div>
        </div>
    -->


    <div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-title"></h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <ul class="nav nav-tabs mb-3" id="add-course-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Créer un nouveau cours</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Dupliquer un cours existant</button>
                        </li>
                    </ul>
                    <form action="" method="post">
                        <input name="semesterId" id="semester-id-input" style="display:none;"></input>
                        <div class="tab-content" id="add-course-tab">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="form-group row mb-2 mx-2">
                                    <label for="title">Titre du cours</label>
                                    <input name="courseTitle" id="course-title-input"></input>
                                </div>
                                <div class="form-group row mb-3 mx-2">
                                    <label for="code">Code du cours</label>
                                    <input name="courseId" id="course-code-input"></input>
                                    <div class="d-flex" id="course-code-in-link-container">
                                        <span class="flex-fill"></span>
                                        <span class=""><i>dans un lien: </i></span><span class="course-code-in-link"></span>
                                    </div>
                                </div>
                                <!--
                                    <div class="form-group row mb-2 mx-2">
                                    <label for="code">Description</label>
                                    <textarea  name="courseDescription" id="course-description-input"></textarea>
                                    </div>
                                -->
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group row mb-3 mx-2">
                                    <label for="copyCourse">Cours à dupliquer</label>
                                    <input name="copyCourse" id="copy-course-input"></input>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer border-0">         
                            <button class="btn btn-primary" id="add-subtask-submit-button">Ajouter</button>  
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-button">Annuler</button>          
                        </div>  
                    </form>
                </div>       
            </div>
        </div>
    </div>
</div>
