<li>
	<div class='card border mb-3'
		style='height: 200px; width: 200px;'>
		<div class='card-body text'>
			<div id="commitId"></div>
			<p>Message du commit :</p>
			<h5 class='card-title' id="commitMessage"></h5>
			<br>
			<p>Chemin de l'exercise:</p>
			<div class='card-footer bg-transparent border' id="exercicePath"></div>
			<br>
			<p>L'effort estimé :</p>
			<div class='card-footer bg-transparent border' id="estimatedEffort"></div>
			<br>
			<p>Fichiers modifiés :</p>
			<div class='card-footer bg-transparent border' id="modifiedFiles"></div>
			<br>
			<p>Date :</p>
			<div class='card-footer bg-transparent border' id="timestamp"></div>
		</div>

	</div>
</li>

