<div class="mt-3 courses-container">

    <div class="mt-3 d-flex justify-content-start align-items-end">
        <div>
            <nav class="ms-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbs-ol" id="breadcrumbs-container">
                </ol>
            </nav>
        </div>
        <div class="flex-fill"></div>
        <div class="me-1">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="group-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Structure du cours</a>
            <div class="dropdown-menu" aria-labelledby="group-menu-link">
                <a class="dropdown-item" href="#">Structure du cours</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Groupe 01</a>
                <a class="dropdown-item" href="#">Groupe 02</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Tous les groupes</a>
            </div>
        </div>
        <div class="me-3">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="semester-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">H2021</a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="semester-menu-link">
                <a class="dropdown-item" href="#">Brouillons</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">A2021</a>
            </div>
        </div>
    </div>


    <div class="d-flex flex-wrap justify-content-around align-items-end mt-5">
        <div class='card border mb-3 mt-3' id="previous-task-container">
            <div class='card-header bg-transparent border'>
                Étapes préalables
            </div>
            <div class='card-body'>
                <ul class="list-group" id="previous-task-list">
                </ul>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-secondary btn-sm mt-2" style="line-height:0px" data-toggle="modal" data-target="#add-task-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="mt-3 w-50 card border">
            <div class='card-header bg-transparent border'>
                <h5 id="task-title"></h5>
            </div>
            <div class='card-body bg-transparent border'>
                <h6><u>Date de début</u></h6>
                <form>
                    Semaine <select class="form-select" name="taskStartWeek" id="task-start-time-select" style="max-width:6rem;">
                        <option name="1">1</option>
                        <option name="2">2</option>
                        <option name="3">3</option>
                    </select>
                    Séance <select class="form-select" name="taskStartScheduleItem" id="task-start-schedule-item" style="max-width:6rem;">
                        <option name="1">1</option>
                        <option name="2">2</option>
                        <option name="3">3</option>
                    </select>
                </form>
                <h6><u>Date de remise</u></h6>
                <p id="task-end-time">Semaine 2, fin de la 2ième séance</p>
                <h6><u>Description</u></h6>
                <textarea class="form-text  w-100" id="task-description"></textarea>
                <h6 class="mt-3"><u>Sous-étapes</u></h6>
                <div class="mt-3 d-flex flex-wrap justify-content-around" id="subtask-container">
                </div>
            </div>
        </div>
        <div class='card border mb-3 mt-3' id='next-task-container'>
            <div class='card-header bg-transparent border'>
                Étapes suivantes
            </div>
            <div class='card-body'>
                <ul class="list-group" id='next-task-list'>
                </ul>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-secondary btn-sm mt-2" style="line-height:0px" data-toggle="modal" data-target="#add-task-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <button class="btn btn-primary" 
                type="button" 
                id="add-task-button" 
                data-toggle="modal" 
                data-target="#add-task-modal">Ajouter une sous-étape</button>
    </div>

    <div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content dashboard-mContent">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter une tâche</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body dashboard-mBody">
                    <form action="" method="post" class="add-course-form">
                        <input name="taskId" id="task-id-input" style="display:none;"></input>
                        <label for="title">Titre de la nouvelle tâche:</label>
                        <input name="newSubTask" id="new-subtask-input"></input>
                        <div class="modal-footer border-0">         
                            <button class="btn btn-primary" id="add-subtask-submit-button">Ajouter</button>  
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-button">Annuler</button>          
                        </div>  
                    </form>
                </div>       
            </div>
        </div>
    </div>






</div>
