<div class="mt-3 d-flex justify-content-start align-items-start">
    <div class="d-flex flex-column ms-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumbs-ol" id="breadcrumbs-container">
            </ol>
        </nav>
        <canvas id="breadcrumb-canvas"></canvas>
    </div>
    <div class="flex-fill"></div>
    <div class="me-1">
        <a class="btn btn-secondary dropdown-toggle" 
           id="group-dropdown-head-courseview" 
           href="#" 
           role="button" 
           data-toggle="dropdown" 
           aria-haspopup="true" 
           aria-expanded="false">
        </a>
        <div class="dropdown-menu dropdown-menu-right" 
             id="group-dropdown-tail-courseview"
             aria-labelledby="group-dropdown-tail">
        </div>
    </div>
    <div class="me-3">
        <a class="btn btn-secondary dropdown-toggle" 
           id="semester-dropdown-head-courseview" 
           href="#" 
           role="button" 
           data-toggle="dropdown" 
           aria-haspopup="true" 
           aria-expanded="false">
        </a>
        <div class="dropdown-menu dropdown-menu-right" 
             id="semester-dropdown-tail-courseview"
             aria-labelledby="semester-dropdown-tail">
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-around align-items-end mt-3">

    <div class='card border mb-3 mt-3' id="previous-task-container">
        <div class='card-header border'>
            Étapes préalables
        </div>
        <div class='card-body'>
            <ul class="list-group" id="previous-task-list">
            </ul>
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary btn-sm mt-2" style="line-height:0px" data-toggle="modal" data-target="#add-previous-task-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>


    <div class="d-flex flex-column w-50">
        <div class="card border">
            <div class='card-header border'>
                <div class="d-flex justify-content-start">
                    <h5 class="mt-1 mb-1" id="task-title"></h5>
                    <div class="flex-fill"></div>
                    <div class="p-2" id="entry-tasks-container"></div>
                    <div class="p-2 ms-3" id="exit-tasks-container"></div>
                </div>
            </div>
            <div class='card-body bg-transparent border'>
                <h6><u>Date de remise</u></h6>
                <form class="mt-3" action="" method="post">
                    <div id="editable-endtime">
                        <div id="editable-endtime-coursedate">
                            <div class="d-flex justify-content-start align-items-baseline">
                                <div class="me-2">Semaine</div>
                                <select class="form-select" name="endTimeWeek" id="task-endtime-week" style="max-width:4rem;">
                                    <option name="undefined" selected></option>
                                    <option name="1">1</option>
                                    <option name="2">2</option>
                                    <option name="3">3</option>
                                    <option name="4">4</option>
                                    <option name="5">5</option>
                                    <option name="6">6</option>
                                    <option name="7">7</option>
                                    <option name="8">8</option>
                                    <option name="9">9</option>
                                    <option name="10">10</option>
                                    <option name="11">11</option>
                                    <option name="12">12</option>
                                    <option name="13">13</option>
                                    <option name="14">14</option>
                                    <option name="15">15</option>
                                </select>
                                <div class="ms-2 me-1 d-inline" id="week-of-container">
                                    (<span id="week-of"></span>)
                                </div>
                                <div class="me-2">, </div>
                                <select class="form-select" name="endTimeStartOrEnd" id="task-endtime-start-or-end" style="max-width:7rem;">
                                    <option name="undefined" value="" selected></option>
                                    <option name="end" value="end">à la fin</option>
                                    <option name="start" value="start">au début</option>
                                </select>
                                <div class="ms-2 me-2">de la séance</div>
                                <select class="form-select" name="endTimeScheduleItem" id="task-endtime-schedule-item" style="max-width:5rem;">
                                    <option name="undefined" selected></option>
                                    <option name="1">1</option>
                                    <option name="2">2</option>
                                    <option name="3">3</option>
                                    <option name="4">4</option>
                                    <option name="5">5</option>
                                    <option name="6">6</option>
                                </select>
                            </div>
                        </div>
                        <div id="editable-endtime-coursedate">
                        </div>
                    </div>
                    <div id="uneditable-endtime">
                    </div>

                    <div id="editable-title">
                        <h6 class="mt-3"><u>Titre</u></h6>
                        <input class="form-text" id="task-title-input" name="taskTitle"></textarea>
                    </div>

                    <h6 class="mt-3"><u>Description</u></h6>
                    <div id="editable-description">
                        <textarea class="form-text  w-100" id="task-description-input" name="taskDescription"></textarea>
                    </div>
                    <div id="uneditable-description">
                    </div>

                    <div class="d-flex mt-3 align-items-top">
                        <h6><u>Étape en cours pour ces étudiante·s</u></h6> 
                        <div class="flex-fill"></div>
                        (<a href="">télécharger l'historique</a>)
                    </div>
                    <div id="uneditable-completions">
                    </div>

                    <div class="mt-5 d-flex justify-content-end align-items-baseline" id="save-button-container">
                        <button class="btn btn-secondary btn-sm mt-2" style="line-height:1.5rem">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                            </svg> Sauvegarder
                        </button>
                    </div>
                </form>


                <div id="logs-container" style="display:none;">
                    <h6 class="mt-5"><u>Historiques</u></h6>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Historique des questions</a></li>
                        <li class="list-group-item"><a href="#">Historique des remises</a></li>
                        <li class="list-group-item"><a href="#">Historique des messages</a></li>
                        <li class="list-group-item"><a href="#">Tout</a></li>
                    </ul>
                </div>


            </div>
        </div>

        <div class="mt-3 card" id="subtask-container">
            <div class="card-header">
                <h5 class="mt-0 mb-0" >Sous-étapes</h5>
            </div>
            <div class="card-body">
                <div class="mt-3 d-flex flex-wrap justify-content-around" id="subtask-list">
                </div>
            </div>
        </div>

    </div>



    <div class='card border mb-3 mt-3' id='next-task-container'>
        <div class='card-header border'>
            Étapes suivantes
        </div>
        <div class='card-body'>
            <ul class="list-group" id='next-task-list'>
            </ul>
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary btn-sm mt-2" style="line-height:0px" data-toggle="modal" data-target="#add-next-task-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</div>

<div class="mt-3 d-flex justify-content-center">
    <button class="btn btn-primary" 
            type="button" 
            id="add-task-button" 
            data-toggle="modal" 
            data-target="#add-task-modal">Ajouter une sous-étape</button>
</div>

<div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une sous-étape</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input class="add-task-id-to-value" name="taskId" style="display:none;"></input>
                    <div class="form-group row mb-2 mx-2">
                        <label for="title">Titre de la sous-étape</label>
                        <input name="taskTitle"></input>
                    </div>
                    <div class="form-group row mb-3 mx-2">
                        <label for="code">Code de la sous-étape</label>
                        <input name="newSubTaskId"></input>
                        <div class="d-flex id-in-link-container">
                            <span class="flex-fill"></span>
                            <span class=""><i>dans un lien: </i></span><span class="id-in-link"></span>
                        </div>
                    </div>
                    <div class="modal-footer border-0">         
                        <button class="btn btn-primary">Ajouter</button>  
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-button">Annuler</button>          
                    </div>  
                </form>
            </div>       
        </div>
    </div>
</div>


<div class="modal fade" id="add-previous-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une étape préalable</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs mb-3" id="add-previous-task-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" 
                                id="new-previous-task-tab" 
                                data-bs-toggle="tab" 
                                data-bs-target="#new-previous-task-pane" 
                                type="button" 
                                role="tab" 
                                aria-controls="new-previous-task-tab" 
                                aria-selected="true">Nouvelle étape</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" 
                                id="link-to-previous-task-tab" 
                                data-bs-toggle="tab" 
                                data-bs-target="#link-to-previous-task-pane" 
                                type="button" 
                                role="tab" 
                                aria-controls="link-to-previous-task-tab" 
                                aria-selected="false">Lien vers une étape existante</button>
                    </li>
                </ul>
                <form action="" method="post">
                    <input class="add-task-id-to-value" name="taskId" style="display:none;"></input>
                    <div class="tab-content">

                        <div class="tab-pane fade show active" 
                             id="new-previous-task-pane" 
                             role="tabpanel" 
                             aria-labelledby="new-previous-task-tab">

                            <div class="form-group row mb-2 mx-2">
                                <label for="title">Titre de l'étape préalable</label>
                                <input name="previousTaskTitle"></input>
                            </div>
                            <div class="form-group row mb-3 mx-2">
                                <label for="code">Code de l'étape préalable</label>
                                <input name="newPreviousTaskId"></input>
                                <div class="d-flex id-in-link-container">
                                    <span class="flex-fill"></span>
                                    <span class=""><i>dans un lien: </i></span><span class="id-in-link"></span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" 
                             id="link-to-previous-task-pane" 
                             role="tabpanel" 
                             aria-labelledby="link-to-previous-task-tab">
                            <div class="form-group row mb-2 mx-2">
                                <label for="title">Chemin vers la tâche</label>
                                <input name="linkToPreviousTaskPath"></input>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-0">         
                        <button class="btn btn-primary">Ajouter</button>  
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-button">Annuler</button>          
                    </div>  
                </form>
            </div>       
        </div>
    </div>
</div>




<div class="modal fade" id="add-next-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une étape suivante</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs mb-3" id="add-next-task-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" 
                                id="new-next-task-tab" 
                                data-bs-toggle="tab" 
                                data-bs-target="#new-next-task-pane" 
                                type="button" 
                                role="tab" 
                                aria-controls="new-next-task-tab" 
                                aria-selected="true">Nouvelle étape</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" 
                                id="link-to-next-task-tab" 
                                data-bs-toggle="tab" 
                                data-bs-target="#link-to-next-task-pane" 
                                type="button" 
                                role="tab" 
                                aria-controls="link-to-next-task-tab" 
                                aria-selected="false">Lien vers une étape existante</button>
                    </li>
                </ul>
                <form action="" method="post">
                    <input class="add-task-id-to-value" name="taskId" style="display:none;"></input>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" 
                             id="new-next-task-pane" 
                             role="tabpanel" 
                             aria-labelledby="new-next-task-tab">

                            <div class="form-group row mb-2 mx-2">
                                <label for="title">Titre de l'étape suivante</label>
                                <input name="nextTaskTitle"></input>
                            </div>
                            <div class="form-group row mb-3 mx-2">
                                <label for="code">Code de l'étape suivante</label>
                                <input name="newNextTaskId"></input>
                                <div class="d-flex id-in-link-container">
                                    <span class="flex-fill"></span>
                                    <span class=""><i>dans un lien: </i></span><span class="id-in-link"></span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" 
                             id="link-to-next-task-pane" 
                             role="tabpanel" 
                             aria-labelledby="link-to-next-task-tab">
                            <div class="form-group row mb-2 mx-2">
                                <label for="title">Chemin vers la tâche</label>
                                <input name="linkToNextTaskPath"></input>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-0">         
                        <button class="btn btn-primary">Ajouter</button>  
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-button">Annuler</button>          
                    </div>  
                </form>
            </div>       
        </div>
    </div>
</div>







