<div class='card border mb-3' style='max-width: 15rem;height: 200px;width:200px;'>
    <div class='card-header bg-transparent border'>
          <span id="course-title"></span><a id='availableLink' href='/billetterie?makeAppointment'><span class='color available-icon' id='teacherAvailable' ></span></a>
    </div>
    <div class='card-body text'>
        <h5 class='card-title' id="courseId"></h5>
         <a id='deleteLink' href='/mescours?deleteCourseSummary'>DELETE</a>
        <div class='card-footer bg-transparent border' id="nbAppointment"></div>
        <a id='closeQueue' href=''></a>
    </div>
    
</div>

