<div class="login-container">
    <h3 id="login-message"></h3>
	<form action="/connexion" method="post" class="login-form ntro-visible" id="login-step1">
        <label for="userId">DA 20:</label>
        <input name="userId"></input>
        <button>Se connecter</button>
    </form>
	<form action="/connexion" method="post" class="login-form ntro-hidden" id="login-step2">
        <label for="loginCode">Code reçu par courriel</label>
        <input name="loginCode"></input>
        <button>Valider mon identité</button>
    </form>
</div>


