<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="First navbar example">
        
    <a href="#" class="navbar-brand">Mes cours</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a href="../dashboard/structure.html" class="nav-link">Mes travaux</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">wtv</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> 
        </ul>   
    </div>
        
</nav>
