<script defer type="text/javascript" src="/_R/js/dashboard.js"></script>

<div class="dashboard-container">
  
  <button type="button" data-toggle="modal" data-target="#modalDashboard">Launch modal</button>
  <div class="flex-container" id="courses-container">
  </div>

  <div class="modal fade" id="modalDashboard" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Ajout d'un travail</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <form action="" method="post" class="add-course-form">
            <label for="title">Titre</label>
            <input name="title"></input>
            <label for="summary">Remise</label>
            <input name="summary" label="Remise"></input>
            <label for="date">Date</label>
            <input name="date"></input>
            <div class="modal-footer border-0">         
              <button class="btn btn-primary">Ajouter</button>  
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>          
            </div>  
          </form>
        </div>       
      </div>
    </div>
  </div>

  
</div>



<script>
var buttonAvailable = document.getElementById("buttonAvailable");
var available = document.getElementById("teacherAvailable");
var availableLink = document.getElementById("availableLink");

buttonAvailable.onclick = function() {
  
  if (available.style.background == "green") {
    available.style.background = "red";
    disableLink();
    
  } else {
    available.style.background = "green";
    showLink();    
  }
  
}

function disableLink() {

  availableLink.disabled=true;
  availableLink.removeAttribute('href');    
  availableLink.style.textDecoration = 'none';
  availableLink.style.cursor = 'default';
}

function showLink() {
  availableLink.disabled=false;
  //assign href dynamically
  availableLink.href = "somepage.html";
  availableLink.style.textDecoration = "underline";
  availableLink.style.cursor = "hand";
}


</script>
