<div class="dashboard-container">
    <form action="">
        <label for="title">Titre</label>
        <input name="title"></input>
        <label for="summary">Remise</label>
        <input name="summary" label="Remise"></input>
        <label for="date">Date</label>
        <input name="date"></input>
        <button>Ajouter</button>
    </form>
<div>

<div class="flex-container" id="courses-container">
</div>

<script>
var buttonAvailable = document.getElementById("buttonAvailable");
var available = document.getElementById("teacherAvailable");
var availableLink = document.getElementById("availableLink");

buttonAvailable.onclick = function() {
  
  if (available.style.background == "green") {
    available.style.background = "red";
    disableLink();
    
  } else {
    available.style.background = "green";
    showLink();    
  }
  
}

function disableLink() {

  availableLink.disabled=true;
  availableLink.removeAttribute('href');    
  availableLink.style.textDecoration = 'none';
  availableLink.style.cursor = 'default';
}

function showLink() {
  availableLink.disabled=false;
  //assign href dynamically
  availableLink.href = "somepage.html";
  availableLink.style.textDecoration = "underline";
  availableLink.style.cursor = "hand";
}
</script>
