$smallSpace: 10;
  .flex-container {
  /* We first create a flex layout context */
  display: flex;
    
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
    
  /* Then we define how is distributed the remaining space */
  justify-content: space-evenly;
    
  padding: 0;
  margin: 0;
  list-style: none;
}
  
.color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  position: absolute;
  right: $smallSpace;
}


  