
<div><canvas id="commitsChart" style="height: 870px; width: 100%;"></canvas></div>
<h4>Étudiant :</h4>
<h5><div class='card-footer bg-transparent border' id="studentId" border></div></h5>
<h4>Session :</h4>
<h5><div class='card-footer bg-transparent border' id="semesterId"></div></h5>
<h4>exercisePath :</h4>
<h5><div class='card-footer bg-transparent border' id="exercisePath"></div></h5>
<h4>Date de remise :</h4>
<h5><div class='card-footer bg-transparent border' id="deadline"></div></h5>
<h4>De :</h4>
<h5><div class='card-footer bg-transparent border' id="fromDate"></div></h5>
<h4>À :</h4>
<h5><div class='card-footer bg-transparent border' id="toDate"></div></h5>
<ul id="commit-list" class="mt-3 flex-container ui-sortable"></ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="/_resources/js/chartjs-plugin-annotation.min.js" ></script>