<div class="card mt-1 mb-1 ms-2 me-2">
    <div class='card-header bg-transparent border'>
        <div class="d-flex" style="min-width:8rem;">
            <a href="#" id="subtask-title-link"></a>
            <div class="flex-fill ms-3 me-3"></div>
            <div>
                <div class="form-check form-switch" 
                     id="task-completed-container"
                     style="padding-right:0px;margin-right:-1rem;">
                <form class="add-id-to-id" action="" method="post" id="task-completed-form">
                    <input class="add-task-id-to-value" name="taskCompletedId" value="" style="display:none;"></input>
                    <input class="form-check-input aquiletour-checkbox add-task-id-to-form" 
                           name="ifTaskCompleted" 
                           type="checkbox" 
                           form="task-completed-form">
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" id="subtask-description">
        <div class="p-2 text-dark d-flex justify-content-center">
            14 juin 2010
        </div>
    </div>
</div>
