<script defer type="text/javascript" src="/_R/js/root.js"></script>

<div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand">aquiletour.ca</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link" id="dashboard-link">Mes cours</a>
                </li>
                <li class="nav-item">
                    <a href="/queue" class="nav-link">Billetteries ouvertes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Compte
                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/settings" id="settings-link">Paramètres</a></li>
                        <li><a class="dropdown-item" href="/users" id="users-link">Gérer les usagers</a></li>
                        <li><a class="dropdown-item" href="?userId=alice&authToken=aliceToken">Alice</a></li>
                        <li><a class="dropdown-item" href="?userId=bob&authToken=bobToken">Bob</a></li>
                        <li><a class="dropdown-item" href="?userId=charlie&authToken=charlieToken">Charlie</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-container">
    </div>

    <footer class="site-footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>À PROPOS</h6>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
            </div>
        </div>
    </footer>
</div>
