<script defer type="text/javascript" src="/_R/js/root.js"></script>

<div>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="/" class="navbar-brand">aquiletour.ca</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <a href="/mescours" class="nav-link" id="dashboard-link">Mes cours</a>
                </li>
                <li class="nav-item">
                    <a href="/billetteries" class="nav-link">Billetteries ouvertes</a>
                </li>
            </ul>
            <div class="mx-auto order-0"></div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="/usagers" class="nav-link">Gérer les usagers</a>
                </li>
                <li class="nav-item">
                    <a href="/connexion" class="nav-link">Connexion</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-container">
    </div>

    <footer class="site-footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>À PROPOS</h6>
                    <p><code>aquiletour.ca</code> est un outil de prise de rendez-vous
                </div>
            </div>
        </div>
    </footer>
</div>
