<div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand ms-3" id="home-link">
            <img src="/_resources/img/aiguilleur.png" alt="aiguilleur.ca" width="40px" height="40px">
        </a>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item ms-1">
                    <a href="#" class="nav-link connect" id="queue-link">File d'attente</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="dashboard-link">Tableau de bord</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ms-1" id="open-queue-list-link">Profs disponibles</a>
                </li>
            </ul>

            <div class="flex-fill"></div>


            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="#" class="nav-link ms-1" id="courses-link">Mes cours</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ms-1" id="group-list-link">Mes groupes</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ms-1" id="calendar-list-link">Planifier une session</a>
                </li>
                <!--
                <li class="nav-item ms-1">
                    <a href="#" class="nav-link connect" id="login-link">Connexion</a>
                </li>
                -->
            </ul>

            <ul class="nav navbar-nav navbar-right me-2">
                <li class="nav-item ms-1" id="login-button">
                    <a href="" type="button" class="btn btn-secondary" id="login-link">Connexion</a>
                </li>
                <li class="nav-item ms-1" id="user-profile">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="user-profile-name"></button>
                        <div class="dropdown-menu dropdown-menu-right" >
                            <form action="" method="post" class="px-4 py-3">
                                <div class="row">
                                    <input name="userName" value="" id="user-profile-name-input"></input>
                                    <button type="submit" class="btn btn-secondary btn-sm">Modifier</button>
                                </div>
                            </form>
                            <a href="#" class="dropdown-item" style="min-width:14rem;">Ajouter/modifier un mot de passe</a>
                            <a href="#" class="dropdown-item" style="min-width:14rem;">Mode étudiant</a>
                            <a href="#" class="dropdown-item" style="min-width:14rem;" id="logout-link">Déconnexion</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="d-flex alert alert-danger align-items-center" role="alert" id="alert-danger">
    <span class="flex-fill"></span>
    <span class="message-text"></span>
    <span class="flex-fill"></span>
    <button class="btn btn-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
    </button>
</div>


<div id="page-container">
</div>

<div class="d-flex alert alert-primary align-items-center" role="alert" id="alert-primary" style="position:absolute; bottom:0px;">
    <span class="flex-fill"></span>
    <span class="message-text"></span>
    <span class="flex-fill"></span>
    <button class="btn btn-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
    </button>
</div>
