<div><canvas id="myChart" style="height: 600px; width: 100%;"></canvas></div>
commitList stu_id :
<div class='card-footer bg-transparent border' id="studentId"></div>
semesterId :
<div class='card-footer bg-transparent border' id="semesterId"></div>
exercisePath :
<div class='card-footer bg-transparent border' id="exercisePath"></div>
fromDate :
<div class='card-footer bg-transparent border' id="fromDate"></div>
toDate :
<div class='card-footer bg-transparent border' id="toDate"></div>
<ul id="commit-list" class="list-group commit"></ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
