commitList
 stu_id : <div class='card-footer bg-transparent border' id="studentId"></div>
 semesterId : <div class='card-footer bg-transparent border' id="semesterId"></div>
 exercisePath : <div class='card-footer bg-transparent border' id="exercisePath"></div>
 fromDate : <div class='card-footer bg-transparent border' id="fromDate"></div>
 toDate : <div class='card-footer bg-transparent border' id="toDate"></div>
 commits:
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<ul id="commit-list" class="list-group commit"></ul>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

